* {
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0px;
  background-color: white;
  padding: 0px;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  font-size: 16pt;
  font-family: 'Inter', sans-serif;
}

.overlayFilter {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  mix-blend-mode: hard-light;
  background-color: rgb(66 66 165);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay {
  background-color: white;
  width: 100vw;
  height: 100dvh;
}

.overlayBar {
  fill: #1b1b1c;
}

.ui {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  z-index: 1;
  mix-blend-mode: exclusion;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
}

.center {
  display: grid;
  position: fixed;
  top: 50dvh;
  left: 50vw;
  grid-template-rows: 1fr 15px;
  gap: 20px;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

.playButton > svg {
  width: 40px;
  height: 40px;
}

.panel {
  display: grid;
  grid-template-rows: 1fr min-content;
  transition: opacity 0.5s;
  box-sizing: border-box;
  margin-inline: 20px;

  &:not(.playing),
  &.selected {
    & .panelTitle {
      filter: blur(0px);
    }
  }

  &.out {
    justify-items: end;
  }

  & .panelTitle {
    filter: blur(7px);
    transition: filter 0.75s;
    font-weight: 300;
    font-size: 72pt;
  }

  & .timeControl {
    position: relative;
    margin-block-end: 20px;
    min-width: 140px;
    max-width: 100%;
    height: 40px;
    overflow: hidden;

    & > .top {
      display: flex;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      border: 1px solid rgb(130, 130, 130);
      border-radius: 50px;
      pointer-events: none;

      font-style: normal;
      font-family: 'Anonymous Pro', monospace;

      & > div,
      & > output {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      & > div {
        padding-bottom: 2px;
        aspect-ratio: 1 / 1;
        width: 40px;
        text-align: center;
      }
    }

    & > .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }
  }
}

.button {
  cursor: pointer;
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  color: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: inherit;
  font-family: inherit;

  &:hover {
    background-color: unset;
  }

  &.disabled {
    opacity: 0.75;
  }

  &:focus-visible {
    outline: none;
    background-color: black;
  }
}
