body {
  margin: 0px;
  background-color: white;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  --color: black;
}

.canvas {
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.ui {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  mix-blend-mode: exclusion;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
}

.panel {
  display: grid;
  grid-template-rows: 1fr min-content;
  opacity: 0.5;
  transition: opacity 0.5s;
  box-sizing: border-box;
  padding-inline: 10px;
  padding-block-end: 10px;

  &.selected {
    opacity: 1;

    & .panelTitle {
      text-decoration: underline;
    }
  }
}

.panelTitle {
  font-weight: 300;
  font-size: 72pt;
}

.timeControl {
  display: flex;
  flex-direction: column;
  opacity: 0.75;
  transition: opacity 0.5s;
  margin-inline-start: 20px;
  margin-block-end: 10px;
  width: 75px;
  font-size: 16pt;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Anonymous Pro', monospace;
  }
}

.button {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  &.disabled {
    opacity: 0.5;
  }
}

.icon > svg {
  width: 75px;
  height: 75px;
}
