body {
  margin: 0px;
  background-color: white;
  padding: 0px;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  --color: black;
}

.canvas {
  width: 100%;
  height: 100dvh;
  pointer-events: none;
}

.ui {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  mix-blend-mode: exclusion;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
}

.playButtonContainer {
  position: fixed;
  top: 50dvh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.playButton > svg {
  width: 75px;
  height: 75px;
}

.panel {
  display: grid;
  grid-template-rows: 1fr 125px;
  opacity: 0.5;
  transition: opacity 0.5s;
  box-sizing: border-box;
  padding-inline: 10px;

  &.pausing,
  &.selected {
    opacity: 1;
  }

  &.selected:not(.pausing) .panelTitle {
    text-decoration: underline;
  }
}

.panelTitle {
  font-weight: 300;
  font-size: 72pt;
}

.timeControl {
  display: grid;
  opacity: 0.75;
  transition: opacity 0.5s;
  margin-inline-start: 20px;
  margin-block-end: 10px;
  width: 75px;
  font-size: 16pt;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Anonymous Pro', monospace;

    & > * {
      padding-inline-start: 2px;
    }
  }
}

.button {
  cursor: pointer;
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  &.disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
    background-color: white;
    color: black;
  }
}
